.title {
    color:white;
    background-color: hsl(348, 100%, 61%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    
}
.subtitle {
    margin-top: 1rem;
}
.card{
    border: solid black 1px;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardHeader{
    background-color: rgb(0, 119, 255);
    color: white;
}
